global
    daemon
    maxconn 100000
    tune.ssl.cachesize 1000000
    #log stdout format raw local0
    log stdout local0 info

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend all
    bind *:80
#    bind *:443 ssl crt /etc/ssl/certs/
    mode http
    option httplog
    option dontlognull
    log stdout local0 info
    maxconn 100000

    acl is-unsecure-path01 path_beg /api/receiver
    
    acl host_webapp1 hdr(host) -i app.signomix.com
    acl host_webapp2 hdr(host) -i cloud.signomix.com
    acl host_webapp3 hdr(host) -i app.localhost
    acl host_webapp4 hdr(host) -i cloud.localhost
    acl host_webmain1 hdr(host) -i signomix.com
    acl host_webmain2 hdr(host) -i www.signomix.com
    acl host_webmain3 hdr(host) -i localhost
    acl host_webmain4 hdr(host) -i www.localhost
    acl host_webapp5 hdr(host) -i documentation.signomix.com
    acl host_webapp6 hdr(host) -i documentation.localhost
    acl host_webapp7 hdr(host) -i hcms.signomix.com
    acl host_webapp8 hdr(host) -i hcms.localhost
    acl host_webapp9 hdr(host) -i view.signomix.com
    acl host_webapp10 hdr(host) -i view.localhost

#    acl admin path_beg /admin
#    acl app path_beg /app
    acl gt path_beg /gt
#    acl am  path_beg /am
    acl api-cs  path_beg /api/cs
    acl api-ps path_beg /api/ps
    acl api-application path_beg /api/application
    acl api-account path_beg /api/account
    acl api-app path_beg /api/app
    acl api-ms path_beg /api/ms
    acl api-provider path_beg /api/provider
    acl api-receiver path_beg /api/receiver
    acl api-core path_beg /api/core
    acl api-auth path_beg /api/auth/v2
    acl api-sentinel path_beg /api/sentinel 
    acl api-signal path_beg /api/signal
    acl api-gdata path_beg /api/iot/gdata
    acl api-user path_beg /api/user
#    acl api-main path_beg /api

    use_backend backend_webapp if host_webapp1 or host_webapp2 or host_webapp3 or host_webapp4
    use_backend backend_documentation if host_webapp5 or host_webapp6
    use_backend backend_hcms if host_webapp7 or host_webapp8
    use_backend backend_view if host_webapp9 or host_webapp10

    use_backend backend_api_core if api-core host_webmain1 or api-core host_webmain3
    use_backend backend_api_core if api-application host_webmain1 or api-application host_webmain3
    use_backend backend_api_core if gt host_webmain1 or gt host_webmain3

    use_backend backend_api_auth if api-auth host_webmain1 or api-auth host_webmain3

    use_backend backend_api_account if api-account host_webmain1 or api-account host_webmain3
    use_backend backend_api_account if api-user host_webmain1 or api-user host_webmain3

    use_backend backend_api_sentinel if api-sentinel host_webmain1 or api-sentinel host_webmain3
    use_backend backend_api_sentinel if api-signal host_webmain1 or api-signal host_webmain3

    use_backend backend_api_ps if api-ps host_webmain1 or api-ps host_webmain3

    use_backend backend_api_ms if api-ms host_webmain1 or api-ms host_webmain3

    use_backend backend_api_provider if api-provider host_webmain1 or api-provider host_webmain3
    use_backend backend_api_provider if api-gdata host_webmain1 or api-gdata host_webmain3

    use_backend backend_api_receiver if api-receiver host_webmain1 or api-receiver host_webmain3

    use_backend backend_main_service if api-cs host_webmain2 or api-cs host_webmain4
    use_backend backend_main_service if api-ps host_webmain1 or api-ps host_webmain3

    use_backend backend_api_app if api-app host_webmain1 or api-app host_webmain3

    use_backend backend_webmain if host_webmain1 or host_webmain2 or host_webmain3 or host_webmain4

  default_backend backend_webmain


## BACKENDS ##

backend backend_webmain
  server server1 signomix-ta-ps:8080 check maxconn 200

backend backend_webapp
  server server1 signomix-webapp:3000 check maxconn 200

backend backend_view
  server server1 signomix-view:3000 check maxconn 200

backend backend_documentation
  server server1 signomix-docs-website:3000 check maxconn 200

backend backend_hcms
  server server1 hcms:8080 check maxconn 200

backend backend_api_auth 
  server server1 signomix-auth:8080 check maxconn 200

backend backend_api_core
  server server1 signomix-ta-core:8080 check maxconn 200

backend backend_api_sentinel
  server server1 signomix-sentinel:8080 check maxconn 200

backend backend_api_account
  server server1 signomix-ta-account:8080 check maxconn 200

backend backend_api_ms
  server server1 signomix-ta-ms:8080 check maxconn 200

backend backend_api_provider
  server server1 signomix-ta-provider:8080 check maxconn 200

backend backend_api_receiver
  server server1 signomix-ta-receiver:8080 check maxconn 200

backend backend_api_ps
  server server1 signomix-ta-ps:8080 check maxconn 200

backend backend_main_service
  server server1 signomix-main:8080 check maxconn 200

backend backend_api_user
  server server1 signomix-auth:8080 check maxconn 200

backend backend_api_app
  server server1 signomix-ta-app:8080 check maxconn 200

